@{
    ViewData["Title"] = "RutaSegura";
}

<div class="text-center mt-5">
    <h1 class="display-4">RutaSegura</h1>
    <p class="lead">Sistema para reportes, rutas seguras y gestión de alertas.</p>

    <a class="btn btn-primary" asp-controller="Reportes" asp-action="Index">
        Ver reportes
    </a>

    <a class="btn btn-outline-secondary" asp-controller="Contactos" asp-action="Index">
        Contactos
    </a>
</div>